<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Auction Project - Онлайн Аукцион</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="header-buttons">
            <div>
                <img src="../static/images/logo.png" class="header-logo"/>
            </div>
            
            <div class="header-block">
                <div class="catalog">
                    <a href="#" class="header-button">
                        <img src="../static/images/catalog.png" class="header-image"/>Каталог</a>
                </div>
            </div>
            
            <div class="header-block">
                <div class="search">
                    <input type="text" placeholder="Поиск..." class="header-button">
                    <button class="header-button">
                        <img src="../static/images/search.png" class="header-image"/>
                    </button>
                </div>
            </div>

            <div class="header-block">
                <div class="auction">
                    <a href="#" class="header-button">
                        <img src="../static/images/auction.png" class="header-image"/>Участвую</a>
                </div>
            </div>

            <div class="header-block end-block">
                <div class="account">
                    <a href="#" class="header-button">
                        <img src="../static/images/account.png" class="header-image"/>Личный кабинет</a>
                </div>
            </div>
        </div>
    </header>
    <main>
       
    </main>
</body>
</html>